* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: blue;
}
h1 {
    text-align: center;
    font-size: 2em;
    color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  margin: 0 auto;
}

.box {
  width: 100px;
  height: 100px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
    background-color: tomato;
}

.pink {
    background-color: pink;
}

.green {
    background-color: lightgreen;
}